<div class="card shadow-sm">
  <div class="card-body">
    <%= simple_form_for(@category) do |f| %>
      <div class="mb-4">
        <%= f.input :name, label: "Nome da Categoria", required: true, input_html: { class: "form-control" } %>
      </div>

      <div class="d-flex justify-content-between">
        <%= link_to "Cancelar", categories_path, class: "btn btn-outline-secondary" %>
        <%= f.button :submit, "Salvar", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
